#alert-message
    .alert.alert-success.alert-dismissable
        button.close(type="button", data-dismiss="alert", aria-hidden="true") &times;
        h4
            i.fa.fa-check-circle
            span
        .msg
    .alert.alert-info.alert-dismissable
        button.close(type="button", data-dismiss="alert", aria-hidden="true") &times;
        h4
            i.fa.fa-info-circle
            span
        .msg
    .alert.alert-warning.alert-dismissable
        button.close(type="button", data-dismiss="alert", aria-hidden="true") &times;
        h4
            i.fa.fa-exclamation-circle
            span
        .msg
    .alert.alert-danger.alert-dismissable
        button.close(type="button", data-dismiss="alert", aria-hidden="true") &times;
        h4
            i.fa.fa-times-circle
            span
        .msg
