title 经分维度表配置系统
meta(charset="utf-8")
meta(name="description", content="经分维度表配置系统")
meta(name="author", content="zacharychu")
meta(name="robots", content="noindex, nofollow")
meta(name="viewport", content="width=device-width, initial-scale=1.0")


// Icons
//- link(rel="shortcut icon", href="/static/img/favicon.ico")
//- link(rel="apple-touch-icon", href="/static/img/icon57.png", sizes="57x57")
//- link(rel="apple-touch-icon", href="/static/img/icon72.png", sizes="72x72")
//- link(rel="apple-touch-icon", href="/static/img/icon76.png", sizes="76x76")
//- link(rel="apple-touch-icon", href="/static/img/icon114.png", sizes="114x114")
//- link(rel="apple-touch-icon", href="/static/img/icon120.png", sizes="120x120")
//- link(rel="apple-touch-icon", href="/static/img/icon144.png", sizes="144x144")
//- link(rel="apple-touch-icon", href="/static/img/icon152.png", sizes="152x152")

// Stylesheets
// Bootstrap is included in its original form, unaltered
link(href="/static/bootstrap/dist/css/bootstrap.min.css", rel="stylesheet")

// Related styles of various icon packs and plugins
link(rel="stylesheet", href="/static/css/plugins.css")

// The main stylesheet of this template. All Bootstrap overwrites are defined in here
link(rel="stylesheet", href="/static/css/main.css")

// Include a specific file here from css/themes/ folder to alter the default theme of the template
// The themes stylesheet of this template (for using specific theme color in individual elements - must included last)
link(rel="stylesheet", href="/static/css/themes.css")

// custom css by chuzheng
link(rel="stylesheet", href="/static/css/custom.css")
