doctype html
html
    head
        include ../includes/head
    body
        include ../includes/alert
        // Page Container
        #page-container.sidebar-partial.sidebar-visible-lg.sidebar-no-animations
            // Main Sidebar
            #sidebar
                // Wrapper for scrolling functionality
                .sidebar-scroll
                    // Sidebar Content
                    .sidebar-content
                        // Brand
                        a.sidebar-brand(href="/")
                            i.gi.gi-flash
                            strong 维度表配置系统
                        // END Brand
                        // User Info
                        .sidebar-section.sidebar-user.clearfix
                            .sidebar-user-avatar
                                a(href="#")
                                    img(src="/static/img/placeholders/avatars/avatar2.jpg", alt="avatar")
                            .sidebar-user-name zachary
                            .sidebar-user-links
                                a(href="#", data-toggle="tooltip", data-placement="bottom", title="Logout")
                                    i.gi.gi-exit
                        // END User Info
                        // Sidebar Navigation
                        ul.sidebar-nav
                            li
                                a(href="/")
                                    i.gi.gi-stopwatch.sidebar-nav-icon
                                    | 首页
                            li.sidebar-header
                                span.sidebar-header-title 维度配置
                            li
                                a.active(href="page_widgets_stats.html")
                                    i.gi.gi-charts.sidebar-nav-icon
                                    | 元数据配置
                            li
                                a(href="page_widgets_social.html")
                                    i.gi.gi-share_alt.sidebar-nav-icon
                                    | 数据配置
                        // END Sidebar Navigation
                    // END Sidebar Content
                // END Wrapper for scrolling functionality
            // END Main Sidebar
            // Main Container
            #main-container
                // Header
                header.navbar.navbar-default
                    // Left Header Navigation
                    ul.nav.navbar-nav-custom
                        // Main Sidebar Toggle Button
                        li
                            a(href="javascript:void(0)", onclick="App.sidebar('toggle-sidebar');")
                                i.fa.fa-bars.fa-fw
                        // END Main Sidebar Toggle Button
                    // END Left Header Navigation
                    // Right Header Navigation
                    ul.nav.navbar-nav-custom.pull-right
                        // User Dropdown
                        li.dropdown
                            a.dropdown-toggle(href="javascript:void(0)", data-toggle="dropdown")
                                img(src="/static/img/placeholders/avatars/avatar2.jpg", alt="avatar")
                                i.fa.fa-angle-down
                            ul.dropdown-menu.dropdown-custom.dropdown-menu-right
                                li.divider
                                li
                                    a(href="#")
                                        i.fa.fa-ban.fa-fw.pull-right
                                        | 退出
                        // END User Dropdown
                    // END Right Header Navigation
                // END Header
                // Page content
                #page-content
                    // Datatables Header
                    .content-header
                        .header-section
                            h1
                                i.fa.fa-table
                                | 元数据配置
                    ul.breadcrumb.breadcrumb-top
                        li 维度配置
                        li
                            a(href="") 元数据配置
                    // END Datatables Header
                    // search dimension table
                    .block.full
                        .block-title
                            h2
                                strong 选择表
                        p
                            form#meta_search_form.form-inline(action="/meta_search", method="post")
                                .form-group.gap-right-5
                                    label.sr-only 数据源
                                    select#data_source_select.select-chosen.form-control(name="data_source", data-placeholder="选择数据源")
                                        option(value="blank")
                                        // Required for data-placeholder attribute to work with Chosen plugin
                                        option(value="u_ieg_idog") 精品
                                        option(value="u_ieg_iplat") 手Q
                                        option(value="u_ieg_mgo") 海纳
                                .form-group.gap-right-5
                                    label.sr-only 表名
                                    input#table_name_input.form-control(type="text", name="table_name", placeholder="请输入表名", required)
                                .form-group
                                    button.btn.btn-sm.btn-primary(type="submit", data-loading-text="搜索中...") 搜索
                    // end dimension table
                    // Datatables Content
                    #search_result_block.block.full
                        .block-title
                            h2
                                strong 表元数据
                        .table-responsive
                            table.table.table-bordered
                                thead
                                    tr
                                        th 表名
                                        th 关联产品
                                        th 操作
                                tbody
                                    tr
                                        td#meta_table_name_td
                                        td#meta_product_name_td 
                                        td.text-center 
                                            button#edit_product_btn.btn.btn-xs.btn-info(data-toggle="tooltip", title="编辑产品关联") 编辑关联产品
                            .dataTables_wrapper
                                .row
                                    .block-options.pull-right
                                        button#add_col_btn.btn.btn-sm.btn-success.gap-right-5
                                            i.fa.fa-plus
                                            |  添加列
                                table#meta_data_table.table.table-vcenter.table-condensed.table-bordered
                                    thead
                                        tr
                                            th.text-center 列名
                                            th.text-center 数据类型
                                            th.text-center 是否为空
                                            th.text-center 是否为主键
                                            th.text-center 默认值
                                            th.text-center 注释
                                            th.text-center 操作
                                    tbody
                                        tr
                                        
                                                
                    // END Datatables Content
                // END Page Content
                // Footer
                footer.clearfix
                    .pull-right created by 移动经分小组
                    .pull-left
                        a(href="/", target="_blank") 维度配置系统
                // END Footer
            // END Main Container
        // END Page Container
        // Scroll to top link, initialized in js/app.js - scrollToTop()
        a#to-top(href="#")
            i.fa.fa-angle-double-up
        #edit_product_modal.modal.fade(tabindex="-1", role="dialog", aria-hidden="true")
            .modal-dialog
                .modal-content
                    // Modal Header
                    .modal-header.text-center
                        h2.modal-title
                            i.fa.fa-pencil
                            |  编辑关联产品
                    // END Modal Header
                    // Modal Body
                    .modal-body
                        form.form-horizontal.form-bordered(action="/dimension/meta_related_product", method="post")
                            .form-group
                                label.col-md-3.control-label(for="product_name") 关联产品
                                .col-md-9
                                    input#procut_name_input.form-control(type="text", placeholder="输入关联产品")
                            .form-group.form-actions
                                .col-xs-12.text-right
                                    button.btn.btn-sm.btn-default.gap-right-5(type="button", data-dismiss="modal") 关闭
                                    button.btn.btn-sm.btn-primary(type="submit") 提交
                    // END Modal Body
        #edit_col_comment_modal.modal.fade(tabindex="-1", role="dialog", aria-hidden="true")
            .modal-dialog
                .modal-content
                    // Modal Header
                    .modal-header.text-center
                        h2.modal-title
                            i.fa.fa-pencil
                            |  编辑注释
                    // END Modal Header
                    // Modal Body
                    .modal-body
                        form.form-horizontal.form-bordered(action="/dimension/edit_meta_col_comment", method="post")
                            .form-group
                                label.col-md-3.control-label(for="comment") 注释
                                .col-md-9
                                    textarea#comment_content_area.form-control(rows="3")
                            .form-group.form-actions
                                .col-xs-12.text-right
                                    button.btn.btn-sm.btn-default.gap-right-5(type="button", data-dismiss="modal") 关闭
                                    button.btn.btn-sm.btn-primary(type="submit") 提交
                    // END Modal Body
        #add_meta_col_modal.modal.fade(tabindex="-1", role="dialog", aria-hidden="true")
            .modal-dialog
                .modal-content
                    // Modal Header
                    .modal-header.text-center
                        h2.modal-title
                            i.fa.fa-plus
                            |  添加列
                    // END Modal Header
                    // Modal Body
                    .modal-body
                        form.form-horizontal.form-bordered(action="/dimension/add_meta_col", method="post")
                            .form-group
                                label.col-md-3.control-label(for="col_name") 列名
                                .col-md-9
                                    input.form-control(type="text", placeholder="输入列名")
                            .form-group
                                label.col-md-3.control-label(for="col_name") 数据类型
                                .col-md-9
                                    input.form-control(type="text", placeholder="输入关联产品")
                            .form-group
                                label.col-md-3.control-label(for="col_name") 是否为空
                                .col-md-9
                                    input.form-control(type="text", placeholder="输入关联产品")
                            .form-group
                                label.col-md-3.control-label(for="col_name") 是否为主键
                                .col-md-9
                                    input.form-control(type="text", placeholder="输入关联产品")
                            .form-group
                                label.col-md-3.control-label(for="col_name") 默认值
                                .col-md-9
                                    input.form-control(type="text", placeholder="输入关联产品")
                            .form-group
                                label.col-md-3.control-label(for="col_name") 注释
                                .col-md-9
                                    input.form-control(type="text", placeholder="输入关联产品")
                            .form-group.form-actions
                                .col-xs-12.text-right
                                    button.btn.btn-sm.btn-default.gap-right-5(type="button", data-dismiss="modal") 关闭
                                    button.btn.btn-sm.btn-primary(type="submit") 提交
                    // END Modal Body
        include ../includes/script
        script(src="/static/js/pages/dimension/meta.js")
