doctype html
html
    head
        include includes/head
    body
        include includes/alert
        #page-container.sidebar-partial.sidebar-visible-lg.sidebar-no-animations
            #sidebar
                // Wrapper for scrolling functionality
                .sidebar-scroll
                    // Sidebar Content
                    .sidebar-content
                        // Brand
                        a.sidebar-brand(href="/")
                            i.gi.gi-flash
                            strong 维度表配置
                        // END Brand
                        // User Info
                        .sidebar-section.sidebar-user.clearfix
                            .sidebar-user-avatar
                                a(href="#")
                                    img(src="/static/img/placeholders/avatars/avatar2.jpg", alt="avatar")
                            .sidebar-user-name zacharychu
                            .sidebar-user-links
                                a(href="#", data-toggle="tooltip", data-placement="bottom", title="Logout")
                                    i.gi.gi-exit
                        // END User Info
                        // Sidebar Navigation
                        ul.sidebar-nav
                            li
                                a(href="/")
                                    i.gi.gi-stopwatch.sidebar-nav-icon
                                    | Dashboard
                            li.sidebar-header
                                //- span.sidebar-header-options.clearfix
                                //-     a(href="javascript:void(0)", data-toggle="tooltip", title="Quick Settings")
                                //-         i.gi.gi-settings
                                //-     a(href="javascript:void(0)", data-toggle="tooltip", title="Create the most amazing pages with the widget kit!")
                                //-         i.gi.gi-lightbulb
                                span.sidebar-header-title 维表配置
                            li
                                a.active(href="page_widgets_stats.html")
                                    i.gi.gi-charts.sidebar-nav-icon
                                    | 元数据配置
                            li
                                a(href="page_widgets_social.html")
                                    i.gi.gi-share_alt.sidebar-nav-icon
                                    | 数据配置
                        // END Sidebar Navigation
                    // END Sidebar Content
                // END Wrapper for scrolling functionality
            // END Main Sidebar
            // Main Container
            #main-container
                header.navbar.navbar-default
                    // Left Header Navigation
                    ul.nav.navbar-nav-custom
                        // Main Sidebar Toggle Button
                        li
                            a(href="javascript:void(0)", onclick="App.sidebar('toggle-sidebar');")
                                i.fa.fa-bars.fa-fw
                        // END Main Sidebar Toggle Button
                        // Template Options
                        // Change Options functionality can be found in js/app.js - templateOptions()
                        li.dropdown
                            a.dropdown-toggle(href="javascript:void(0)", data-toggle="dropdown")
                                i.gi.gi-settings
                            ul.dropdown-menu.dropdown-custom.dropdown-options
                                li.dropdown-header.text-center Header Style
                                li
                                    .btn-group.btn-group-justified.btn-group-sm
                                        a#options-header-default.btn.btn-primary(href="javascript:void(0)") Light
                                        a#options-header-inverse.btn.btn-primary(href="javascript:void(0)") Dark
                                li.dropdown-header.text-center Page Style
                                li
                                    .btn-group.btn-group-justified.btn-group-sm
                                        a#options-main-style.btn.btn-primary(href="javascript:void(0)") Default
                                        a#options-main-style-alt.btn.btn-primary(href="javascript:void(0)") Alternative
                                li.dropdown-header.text-center Main Layout
                                li
                                    button#options-header-top.btn.btn-sm.btn-block.btn-primary Fixed Side/Header (Top)
                                    button#options-header-bottom.btn.btn-sm.btn-block.btn-primary Fixed Side/Header (Bottom)
                                li.dropdown-header.text-center Footer
                                li
                                    .btn-group.btn-group-justified.btn-group-sm
                                        a#options-footer-static.btn.btn-primary(href="javascript:void(0)") Default
                                        a#options-footer-fixed.btn.btn-primary(href="javascript:void(0)") Fixed
                        // END Template Options
                    // END Left Header Navigation
                    // Search Form
                    form.navbar-form-custom(action="page_ready_search_results.html", method="post", role="search")
                        .form-group
                            input#top-search.form-control(type="text", name="top-search", placeholder="Search..")
                    // END Search Form
                    // Right Header Navigation
                    ul.nav.navbar-nav-custom.pull-right
                        // Alternative Sidebar Toggle Button
                        li
                            // If you do not want the main sidebar to open when the alternative sidebar is closed, just remove the second parameter: App.sidebar('toggle-sidebar-alt');
                            a(href="javascript:void(0)", onclick="App.sidebar('toggle-sidebar-alt', 'toggle-other');")
                                i.gi.gi-share_alt
                                span.label.label-primary.label-indicator.animation-floating 4
                        // END Alternative Sidebar Toggle Button
                        // User Dropdown
                        li.dropdown
                            a.dropdown-toggle(href="javascript:void(0)", data-toggle="dropdown")
                                img(src="img/placeholders/avatars/avatar2.jpg", alt="avatar")
                                i.fa.fa-angle-down
                            ul.dropdown-menu.dropdown-custom.dropdown-menu-right
                                li.dropdown-header.text-center Account
                                li
                                    a(href="page_ready_timeline.html")
                                        i.fa.fa-clock-o.fa-fw.pull-right
                                        span.badge.pull-right 10
                                        |                                         Updates
                                    a(href="page_ready_inbox.html")
                                        i.fa.fa-envelope-o.fa-fw.pull-right
                                        span.badge.pull-right 5
                                        |                                         Messages
                                    a(href="page_ready_pricing_tables.html")
                                        i.fa.fa-magnet.fa-fw.pull-right
                                        span.badge.pull-right 3
                                        |                                         Subscriptions
                                    a(href="page_ready_faq.html")
                                        i.fa.fa-question.fa-fw.pull-right
                                        span.badge.pull-right 11
                                        |                                         FAQ
                                li.divider
                                li
                                    a(href="page_ready_user_profile.html")
                                        i.fa.fa-user.fa-fw.pull-right
                                        |                                         Profile
                                    // Opens the user settings modal that can be found at the bottom of each page (page_footer.html in PHP version)
                                    a(href="#modal-user-settings", data-toggle="modal")
                                        i.fa.fa-cog.fa-fw.pull-right
                                        |                                         Settings
                                li.divider
                                li
                                    a(href="page_ready_lock_screen.html")
                                        i.fa.fa-lock.fa-fw.pull-right
                                        |  Lock Account
                                    a(href="login.html")
                                        i.fa.fa-ban.fa-fw.pull-right
                                        |  Logout
                                li.dropdown-header.text-center Activity
                                li
                                    .alert.alert-success.alert-alt
                                        small 5 min ago
                                        br
                                        i.fa.fa-thumbs-up.fa-fw
                                        |  You had a new sale ($10)
                                    .alert.alert-info.alert-alt
                                        small 10 min ago
                                        br
                                        i.fa.fa-arrow-up.fa-fw
                                        |  Upgraded to Pro plan
                                    .alert.alert-warning.alert-alt
                                        small 3 hours ago
                                        br
                                        i.fa.fa-exclamation.fa-fw
                                        |  Running low on space
                                        br
                                        strong 18GB in use
                                        |  2GB left
                                    .alert.alert-danger.alert-alt
                                        small Yesterday
                                        br
                                        i.fa.fa-bug.fa-fw
                                        a.alert-link(href="javascript:void(0)") New bug submitted
                        // END User Dropdown
                    // END Right Header Navigation
                // END Header
        include includes/script
