#alert-message {
    width: 300px;
    position: fixed;
    top : 0;
    left : 50%;
    margin-left: -150px;
    z-index: 9000;
}

#alert-message .alert {
    display: none;
}

.gap-right-5 {
    margin-right: 5px;
}
